In [1]:
from pyspark.sql.functions import year

In [23]:
peopleDF = spark.read.parquet("people-10m.parquet")
peopleDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- firstName: string (nullable = true)
 |-- middleName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- birthDate: timestamp (nullable = true)
 |-- ssn: string (nullable = true)
 |-- salary: integer (nullable = true)

In [44]:
peopleDF = spark.read.parquet("people-10m.parquet")
peopleDF.select('gender','salary').show(5)

+------+------+
|gender|salary|
+------+------+
|     M| 45983|
|     M| 45867|
|     M| 58623|
|     M| 33952|
|     M| 31453|
+------+------+
only showing top 5 rows

In [36]:
from pyspark.sql.functions import year
peopleDF = spark.read.parquet("people-10m.parquet")
peopleDF = peopleDF.select('lastName','salary','birthDate')\
                   .filter("gender = 'M'" and year("birthDate") >= "1990")
peopleDF.show(5)

+--------+------+-------------------+
|lastName|salary|          birthDate|
+--------+------+-------------------+
|  Eddins| 33952|1998-07-16 13:00:00|
|   Meneo| 56896|1990-08-07 13:00:00|
|  Goudie| 78111|1991-04-04 14:00:00|
|   Trace| 87208|1997-01-18 14:00:00|
|   Frape| 66889|1994-04-06 13:00:00|
+--------+------+-------------------+
only showing top 5 rows

In [26]:
peopleDF = spark.read.parquet("people-10m.parquet")
peopleDF.groupBy("firstName").count()\
        .orderBy("count",ascending=False)\
        .show(5)

+---------+-----+
|firstName|count|
+---------+-----+
|   Sammie| 5462|
|    Daryl| 5442|
|   Bobbie| 5432|
|      Lee| 5411|
|     Troy| 5408|
+---------+-----+
only showing top 5 rows

In [31]:
peopleDF = spark.read.parquet("people-10m.parquet")
peopleDF.groupBy("middleName").count()\
        .filter("count <= '3000'")\
        .orderBy("count")\
        .show(5)

+----------+-----+
|middleName|count|
+----------+-----+
|   Bryanna| 1140|
|     Sofia| 1154|
|   Raylene| 1157|
|   Leonila| 1157|
| Ernestine| 1159|
+----------+-----+
only showing top 5 rows